<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <p>All tasks</p>
        <ul>
            <li v-for='task in tasks' v-text='task.description' v-if='task.description'></li>
        </ul>

        <p>Active Tasks</p>
        <ul>
            <li v-for='task in checkActive' v-text='task.description'></li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                tasks: [{
                        description: 'Hello world',
                        active: false
                    },
                    {
                        description: 'Hello ravi',
                        active: true
                    },
                    {
                        description: 'Hello rahul',
                        active: false
                    },
                    {
                        description: 'Hello test',
                        active: true
                    },
                ]
            },
            computed:{
                checkActive(){
                    return this.tasks.filter(task => task.active);
                }
            }
        })
    </script>
</body>

</html>